.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }


#left-button {
  left: 5%; 
  top: 45px; 
  width: 15%; 
  height: auto; 
  position: absolute; 
  z-index: 1;
}

#right-button {
  left: 5%; 
  top: 45px; 
  width: 15%; 
  height: auto; 
  position: absolute; 
  z-index: 1;
}


* { margin: 0; padding: 0; }
p { padding: 10px; }
#left { position: absolute; left: 0;  width: 45; }
#right { position: absolute; right: 0; width: 55%; }

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.tests-checkboxes {
  display: inline;
}

.disableScroll{
      overflow-y:hidden;
      overflow-x:hidden;
}