    <div>
    
    <div id="left">
         <form name='regForm' class="form-inline" novalidate  >
         <div>
            <label>
            Medicine Name
            </label>
            <input type="text" name="medicine" placeholder="Medicine Name"  class="form-control"
                    ng-model="medCtrl.name"
                    required
                    minlength="1"
                    ng-maxlength="20"/>
        </div>
        <br/>

        

        <div >
            <label>
                Price<span >*</span>
            </label>
            <input type="number" name="price" placeholder="Price/tab" class="form-control" ng-model="medCtrl.price"
                    required
                    
                    ng-minlength="1"
                    
                    /> 
        </div>

        <br/>

         <button
          ng-disabled="regForm.$invalid"
          ng-click="medCtrl.submit()"
          class="btn btn-default">Submit</button>
         </form>

         <br/>
         <br/>
         <h3><font color = "red"> {{medCtrl.medicineAddMessage}} </font></h3>
        
    </div>

    <div id="right">
        
        <h2> <font color = "blue"> {{medCtrl.medicineListMessage}} </h2></font>

        <h4>
            <font color: "green"> 
                <ul>
                    <li ng-repeat="medicine in medCtrl.medicineList">
                        {{medicine.name}}&nbsp;&nbsp;{{medicine.price}}
                    </li>
                </ul>
            </font>
        </h4>

    </div>
    </div>