<form>
    From: 
    <input type="date" name="bday" ng-model="opdCtrl.fromDate"> &nbsp;&nbsp;

    <input type="date" name="bday" ng-model="opdCtrl.toDate"> &nbsp;&nbsp;
  <input type="submit" class="btn btn-default" ng-click="opdCtrl.submit()">
</form>


<span ng-if="opdCtrl.opds.length > 0">  <h2>
    <font color= "blue"> Patients: </font><br/> </h2>
</span>
<table>
    <tr>
        <td> Sr. No. </td>
        <td> Name </td>
        <td> Age </td>
        <td> Sex </td>
        <td> Residence </td>
        <td> Phone </td>
        <td> Disease </td>
        <td> Amount </td>
    </tr>
  <tr ng-repeat="patient in opdCtrl.opds">
    <td> {{$index}} </td>
    <td>{{ patient.name }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.sex }}</td>
    <td>{{ patient.residence }}</td>
    <td>{{ patient.phone }}</td>
    <td>{{ patient.disease }}</td>
    <td>{{ patient.amount }}</td>


  </tr>
</table>

<!--<ol>
    <h4> <font color = "green">
        <li ng-repeat="patient in opdCtrl.opds"> {{patient.name}} </li>
        </font>
    </h4>
</ol>-->

<h3 ><center>
    <font color="red">
{{opdCtrl.message}}
</font>
</center>
</h3>